@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
}

.sidebar {
  height: calc(100vh - 60px);
}

.icon {
  filter: invert(100%);
  transition: all 0.5s ease-in-out;
}

.nav-filter {
  background-color: #a9b4c2;
}

.gradient-1 {
  background-color: #7d98a1;
  background-image: linear-gradient(0deg, #7d98a1 0%, #eef1ef 73%);
}
